html, body {
    height: 100vh;
    /* background-color: #000; */
  }
  
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.215),rgb(234, 227, 11)),
    url(misc/earthimage.jpg)
      center/cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    opacity: 0.8;
  }

  .earth {
    transform-style: preserve-3d;
    min-width: 80vh;
    min-height: 80vh;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(rgba(17, 7, 7, 0.847),rgba(10, 8, 8, 0.808)),
    url(misc/earthimage.jpg ) repeat-x;
    background-size: cover;
    animation: rotate 2s infinite linear;
    box-shadow: -80px -15px 80px 10px rgba(0,0,0,.9) inset, -10px 0px 15px -7px #95650459;
    object-fit: cover;
    position: absolute;
    
  }

  .earth:hover{
    animation: rotate 20s infinite linear;
    background: linear-gradient(rgba(235, 173, 1, 0.356),rgba(219, 214, 214, 0.359)),
    url(misc/earthimage.jpg ) repeat-x; 
    background-size: cover; 
    transform: scaleZ(50%);
  }
  
  @media only screen and (max-width: 500px) {
    .earth {
      min-width: 50vh;
      min-height: 50vh;
    }
  }
  

.box {
  animation: circle 3s infinite;
  clip-path: circle(75%);
  height: 100vh;
  background: linear-gradient(rgba(225, 193, 193, 0.347),rgb(234, 225, 66)),
  url(misc/earthimage.jpg)
    center/cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  opacity: 0.8;
  position: absolute;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}
.box2 {
  animation: circle 3s infinite;
  clip-path: circle(30%);
  height: 100vh;
  background: linear-gradient(rgba(196, 17, 17, 0.234),rgb(22, 28, 142)),
  url(misc/earthimage.jpg)
    center/cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  opacity: 0.8;
  position: absolute;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}
.box:hover {
  transition: 0.5s;
  background: linear-gradient(rgba(62, 66, 56, 0.174),rgb(10, 8, 8)),
  url(misc/earthimage.jpg)
    center/cover;
    animation: circle 3s infinite;
    clip-path: circle(75%);
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    opacity: 0.8;
    position: absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    
}


@keyframes circle {
  0% { clip-path: circle(75%); }
  50% { clip-path: circle(25%); }
  100% { clip-path: circle(75%); }
}

#player-container #play-pause {
  cursor: pointer;
  text-indent: -999999px;
  height:40px;
  width: 40px;
  padding: 12px 18px;
  z-index: -10;
  position: justify;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 16px;
  background-repeat:no-repeat;
  background-position:center;
  background-size:20px;
  background-color: gainsboro;

}
.play {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
}
.pause {
   background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjRoLTZ2LTI0aDZ2MjR6bTEwLTI0aC02djI0aDZ2LTI0eiIvPjwvc3ZnPg==)!important;
}

  @keyframes rotate {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position:1200px 0px;
    }
  }
  
  