html, body {
    height: 100vh;
    background-color: #000;
  }
  
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.347),rgb(10, 8, 8)),
    url(misc/earthimage.jpg)
      center/cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    opacity: 0.8;
  }
  
  
  .earth {
    transform-style: preserve-3d;
    max-width: 600px;
    max-height: 600px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    width: 50%;
    height: 50%;
    background: linear-gradient(rgba(17, 7, 7, 0.847),rgba(10, 8, 8, 0.808)),
    url(misc/earthimage.jpg ) repeat-x;
    background-size: cover;
    animation: rotate 2s infinite linear;
    box-shadow: -80px -15px 80px 10px rgba(0,0,0,.9) inset, -10px 0px 15px -7px #95650459;
  }
  
  
  .earth:hover{
    animation: rotate 20s infinite linear;
    background: linear-gradient(rgba(235, 173, 1, 0.356),rgba(219, 214, 214, 0.359)),
    url(misc/earthimage.jpg ) repeat-x; 
    background-size: cover; }
  
  @keyframes rotate {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position:1200px 0px;
    }
  }
  
  