@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@700&family=Source+Serif+Pro:wght@700&display=swap');

body {
  background: linear-gradient(rgba(171, 55, 152, 0.792),rgba(66, 66, 35, 0.663)),
  url(misc/earthimage.jpg) center/cover;
  overflow-x:hidden;
  overflow-y:hidden;
  height: 100vh;
}

h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 99;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 1em 2em -1em rgba(247, 0, 247, 0.349);
  padding: 1em 2em;
  line-height: 1.5;
  
}

#khoj{
font-family: 'Noto Nastaliq Urdu', serif;
font-size: 7vh;
text-shadow: 2px 2px #d908d2;
}

  
#erm{
animation: shimmy 3s infinite;
animation-direction: alternate;
}
@keyframes shimmy {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(12vh, 0);
  }
}

@media only screen and (max-width: 30px) {
  }

  
.boxText{
    background-color: rgba(116, 9, 75, 0.348);
    border-radius: 10px;
}

.caro {
    box-shadow: 0 2px 8px 0 rgba(226, 35, 226, 0.521);
    height: 90%;
    width: 90%;
}

.SnS {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 5em;
}
h1:hover{
    color:white;
    transition:0.4s;
}
h2{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    color: white;
}
h2:hover{
    color:black;
    transition:0.4s;
}
